{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}
{% block meta_description %}
    Guitariste et professeur de guitare classique au conservatoire de Paris. 
    Donne des cours particulier à des amateurs avancés ou professionnels.
{% endblock %}

{% block main %}


    <section>

    <h1>Biographie</h1>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi optio quas enim blanditiis
        sit fugit necessitatibus labore, consectetur qui iste impedit modi tempora dignissimos? Asperiores
        officia dolore minus est unde itaque quasi corporis aliquid. Nulla nihil perspiciatis odio nostrum
        provident vel, enim error ut eaque saepe suscipit, illum at.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae porro vero iure similique libero
        minima corporis vel incidunt recusandae consequuntur. Vero molestias aperiam repellendus at
        voluptatum unde fugiat, veniam similique modi itaque ab velit impedit qui magnam quibusdam! Vel
        praesentium, temporibus earum eum eveniet magnam blanditiis modi sunt accusantium a ipsum mollitia
        est, illo numquam repudiandae et. Eum ullam, magni reprehenderit assumenda odio neque! Laborum
        minima beatae ex praesentium exercitationem officia iste quae. Quaerat totam nobis quo, laboriosam
        facilis ea earum exercitationem voluptas eum aut assumenda aliquid, tempore ullam eaque doloremque
        ipsa accusamus alias quas quis dicta dolor in? In!</p>
        
    </section>   


{% endblock %}
