{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


    <section class="cgv-cgu">
        <h1>CGV / CGU</h1>
        <h3>Conditions Générales de Vente / Conditions Générales d'Utilisation</h3>
        <div class="col">
            <h3>Article 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi optio quas enim blanditiis
                sit fugit necessitatibus labore, consectetur qui iste impedit modi tempora dignissimos? Asperiores
                officia dolore minus est unde itaque quasi corporis aliquid. Nulla nihil perspiciatis odio nostrum
                provident vel, enim error ut eaque saepe suscipit, illum at.</p>

            <h3>Article 2</h3>
            <p>Aliquam sed fermentum odio. Duis eleifend, nunc eget consectetur tempor, purus massa aliquet dolor, 
            eu elementum sapien libero sit amet nibh. Donec porttitor sapien in arcu sollicitudin, sit amet mattis felis sodales.</p>

            <h3>Article 3</h3>
            <p>Ut rutrum dui quam, eu dignissim lacus posuere et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
            per inceptos himenaeos. Suspendisse potenti. Morbi aliquet pretium metus, ut dapibus ligula ullamcorper ut. 
            Quisque sed dolor sed quam varius.</p>

            <h3>Article 4</h3>
            <p>Nullam ornare egestas leo sed tempus. In eget dolor ante. Suspendisse potenti. Fusce et pretium turpis. 
            Curabitur vel fringilla ligula. Sed placerat est dignissim ornare imperdiet. 
            Curabitur efficitur orci quis fermentum aliquam. Nunc ut rhoncus augue.</p>

            <h3>Article 5</h3>
            <p>Vestibulum vulputate nulla quis velit pretium fermentum. Proin non aliquam neque, 
            eu tincidunt lectus. Phasellus elementum id neque at tempus. Sed placerat est dignissim ornare imperdiet. 
            Duis consectetur neque et purus sodales sodales. Nam auctor urna at diam mattis, ut accumsan orci ultricies. 
            Nunc feugiat, risus at volutpat bibendum, sem mauris dignissim enim, vitae bibendum sapien diam ac odio. 
            Ut convallis congue viverra. Morbi aliquet pretium metus, ut dapibus ligula ullamcorper ut.
            Nam auctor urna at diam mattis. </p>

            <h3>Article 6</h3>
            <p>Proin purus nisi, ornare auctor imperdiet eu, tristique sed ipsum. 
            Quisque faucibus lorem in odio aliquam, non vulputate nulla hendrerit. Vivamus luctus consequat mi.</p>

            <h3>Article 7</h3>
            <p>Nulla at lectus sit amet nisi pharetra vestibulum. Cras elit lectus, tempus ac magna nec, lacinia egestas magna. 
            Morbi dapibus nisl nec est auctor eleifend. Nam auctor urna at diam mattis, ut accumsan orci ultricies. 
            Maecenas rutrum lorem eu purus congue ullamcorper. Sed luctus sit amet nulla placerat volutpat. 
            Mauris quis felis mattis, lobortis magna pulvinar, malesuada tortor.</p>

            <h3>Article 8</h3>
            <p>Fusce nec lacus accumsan, iaculis lacus aliquet, porta eros. Mauris at sodales elit, in laoreet libero. 
            Mauris et sagittis dui. Vestibulum at libero dictum, viverra augue auctor, lobortis mi. Sed a elit dui. 
            Vestibulum fringilla nibh id tempus ullamcorper. Donec id gravida eros, nec volutpat diam.</p>
        
        </div>
        
        
        
    </section>   


{% endblock %}
