{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


    <section>

    <div class="presentation">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi optio quas enim blanditiis
                sit fugit necessitatibus labore, consectetur qui iste impedit modi tempora dignissimos? Asperiores
                officia dolore minus est unde itaque quasi corporis aliquid. Nulla nihil perspiciatis odio nostrum
                provident vel, enim error ut eaque saepe suscipit, illum at.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae porro vero iure similique libero
                minima corporis vel incidunt recusandae consequuntur. Vero molestias aperiam repellendus at
                voluptatum unde fugiat, veniam similique modi itaque ab velit impedit qui magnam quibusdam! Vel
                praesentium, temporibus earum eum eveniet magnam blanditiis modi sunt accusantium a ipsum mollitia
                est, illo numquam repudiandae et. Eum ullam, magni reprehenderit assumenda odio neque! Laborum
                minima beatae ex praesentium exercitationem officia iste quae. Quaerat totam nobis quo, laboriosam
                facilis ea earum exercitationem voluptas eum aut assumenda aliquid, tempore ullam eaque doloremque
                ipsa accusamus alias quas quis dicta dolor in? In!</p>

            <div class="txt-img">
                <img src="/img/img-1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor saepe voluptatibus
                    cupiditate
                    aliquid libero.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quas a fugit adipisci.
                    Provident
                    tenetur dolor, delectus reiciendis reprehenderit excepturi? Voluptas similique porro
                    cupiditate sit.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti magni ipsum magnam ut rem
                    velit cupiditate vel quas provident facere. Repellendus vitae minus officiis perspiciatis
                    molestiae similique vero alias.</p>

            </div>


            <div class="message-inscription">
                <h4>Votre espace étudiant !</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus deserunt, ratione praesentium,
                    voluptates at quam sequi fugiat soluta ullam doloremque dolorem perferendis blanditiis
                    voluptatem mollitia similique a exercitationem itaque minima.</p>
                <div>
                    <a href="{{ path('app_login') }}" class="bt">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="bt">S'inscrire</a>
                </div>
            </div>
        </div>
        <div class="infos-plus">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi optio quas enim blanditiis
                sit fugit necessitatibus labore, consectetur qui iste impedit modi tempora dignissimos? Asperiores
                officia dolore minus est unde itaque quasi corporis aliquid. Nulla nihil perspiciatis odio nostrum
                provident vel, enim error ut eaque saepe suscipit, illum at.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor saepe voluptatibus cupiditate
                aliquid libero.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quas a fugit adipisci. Provident
                tenetur dolor, delectus reiciendis reprehenderit excepturi? Voluptas similique porro cupiditate sit.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor saepe voluptatibus cupiditate
                aliquid libero.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quas a fugit adipisci. Provident
                tenetur dolor, delectus reiciendis reprehenderit excepturi? Voluptas similique porro cupiditate sit.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor saepe voluptatibus cupiditate
                aliquid libero.</p>
        </div>
        
    </section>   


{% endblock %}
