{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


    <section>

    <h1>Mentions légales</h1>

    <h3>Coordonnées</h3>

    <p>Créateur et responsable de la publication du site <a href="https://dwwm.bdelanls.fr">dwwm.bdelanls.fr</a>  :</p>

    <p><b>Bertrand Delanlssays</b><br>
    1, rue des Marcassins 94370 Sucy-en-Brie<br>
    Tél. : 06 14 39 58 23<br>
    Contact email : <a href="mailto:contact@bdelanls.fr">contact@bdelanls.fr</a><br>
    Identifiant SIRET : 418 463 303 00028</p>

    <p>
    Le site internet est hébergé par la société <b>o2switch</b><br>
    222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand<br>
    <a href="https://www.o2switch.fr" target="_blank">https://www.o2switch.fr</a>
    </p>

    <h3>Propriété intellectuelle</h3>
    <p>Tous les textes présents dans le site ainsi que les personnes sont fictifs.<br>
    Les images sont libres de droits et viennent du site <a href="https://Unsplash" target="_blank">unsplash.com</a>,<br>
    les pictos de <a href="https://fontawesome.com" target="_blank">fontawesome.com</a><br>
    et les polices de caractères utilisées sont le Anton et le Roboto de <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>.</p>

    

    

    
    
    
    
    
    


    
        
    </section>   


{% endblock %}
