{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


    <section>

    <h1>Mentions légales</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi optio quas enim blanditiis
        sit fugit necessitatibus labore, consectetur qui iste impedit modi tempora dignissimos? Asperiores
        officia dolore minus est unde itaque quasi corporis aliquid. Nulla nihil perspiciatis odio nostrum
        provident vel, enim error ut eaque saepe suscipit, illum at.</p>
    
        
    </section>   


{% endblock %}
