{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


    <section>

    <h1>Politique de confidentialité</h1>

    <h3>Cookies</h3>
    
    <p>Un cookie est un fichier de petite taille, qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
    <p>La navigation sur ce site ne provoque l’installation d’aucun fichier cookie sur l’ordinateur de l’utilisateur.</p>


    <h3>Vos droits concernant les données personnelles</h3>

    <p>Vous avez les droits suivants concernant vos données personnelles :</p>
    <ul>
    <li>Vous avez le droit de savoir pourquoi vos données personnelles sont nécessaires, ce qui leur arrivera et combien de temps elles seront conservées.</li>
    <li>Droit d’accès : vous avez le droit d’accéder à vos données personnelles que nous connaissons.</li>
    <li>Droit de rectification : vous avez le droit à tout moment de compléter, corriger, faire supprimer ou bloquer vos données personnelles.</li>
    <li>Si vous nous donnez votre consentement pour le traitement de vos données, vous avez le droit de révoquer ce consentement et de faire supprimer vos données personnelles.</li>
    <li>Droit de transférer vos données : vous avez le droit de demander toutes vos données personnelles au responsable du traitement et de les transférer dans leur intégralité à un autre responsable du traitement.</li>
    <li>Droit d’opposition : vous pouvez vous opposer au traitement de vos données. Nous obtempérerons, à moins que certaines raisons ne justifient ce traitement.</li>
    </ul>

    <p>Pour exercer ces droits, veuillez me contacter : <a href="mailto:contact@bdelanls.fr">contact@bdelanls.fr</a></p>
    
        
    </section>   


{% endblock %}
