<h3 style="font-family: Arial;">Veuillez confirmer votre email</h3>

<p style="font-family: Arial;">Bonjour,</p>
<p  style="font-family: Arial;">
    Vous venez de vous enregistrer sur le site en projet <a href="https://www.dwwm.bdelanls.fr">dwwm.bdelanls.fr</a>.<br>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant : <br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail </a>.
</p>
<p style="font-family: Arial;">    
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p style="font-family: Arial;">
    Cordialement,
</p>
<p style="font-family: Arial;">
    Guy Taracoustik
</p>
