<form method="post" action="{{ path('file_delete', {'id': file.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce document ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
	<button class="bt-form bt-supp">Supprimer</button>
</form>
