// Couleurs

$noir: #000000;
$blanc: #ffffff;
$rouge: #bb0000;
$vert: #009900;

// Rich Black FOGRA 29
$bleu: #0c1726;

// Shadow
$shadow: #8C7961;

// Khaki Web - fond
$beige: #BFAE99;

// Caput Mortuum
$marron: #593123;

// Onyx
$onyx: #404040;

// Gris
$gris: #666;
