// MAIN


// Accueil
// 1 - intro
// 2 - articles-home

// 3 - connexion
// 4 - Article
// 5 - Contact et inscription
// 6 - Agenda prof et élèves
// 7 - Cours
// 8 - Inscription
// 9 - Error
// 10 - Mentions

.bt{
    @include button();
    
}


// I - intro
section{
    position: relative;
    padding-bottom: em(40);

    &.intro{
        display: flex;
        flex-flow: row wrap;


        img{
            width: 100%;
            //height: 100%;

            @include tablet{
                width: 100%;
            }
            @include desktop{
                position: absolute;
                width: col(8);
                top: 0; right: rem(20);
            }
        }

        .col-intro{
            position: relative;
            margin-top: 0;
            @include tablet{
                margin-top: em(-92);
            }
            @include desktop{
                width: col(6);
                margin-top: em(148);
            }
        }
        h1{
            font-family: $anton;
            font-size: rem(50);
            line-height: rem(60);
            color: $blanc;
            @include tablet{
                line-height: 120%;
                font-size: rem(90);
            }
            @include desktop{
                font-size: rem(113);
                line-height: rem(126);
                text-shadow: 0px 5px 10px rgba($color: #000000, $alpha: .5);
            }
        }
        h2{
            font-family: $roboto;
            font-size: rem(24);
            font-weight: 300;
            line-height: 150%;
            color: $shadow;
            @include tablet{
                font-size: rem(38);
                margin: rem(-10) 0 rem(16) 0;
            }
            @include desktop{
                font-size: rem(50);
                margin: rem(-10) 0 rem(16) 0;
            }
        }


        .bt{
            @include button();
            margin: em(10) auto;
            @include desktop{
                margin: em(10) 0;
                
            }
        }

        .intro-guitariste{
            position: relative;
            background-color: rgba($color: $blanc, $alpha: .8);
            padding: em(20);
            height: max-content;
            margin-top: em(20);
            @include desktop{
                width: col(5);
                margin-left: em(31);
                margin-top: 24.2%;
                box-shadow: 0px 15px 15px rgba($color: #000000, $alpha: .2);
            }
        }
    }

}

// II - Articles home & liste articles

.fond-section{
    background-color: $shadow;
    width: 100%;
    max-width: none;

    .vague{
        background-color: $shadow;
        
        svg{
            fill: $beige;
            display: block;
        }
     }
}

section.liste-articles{
    padding-top: em(20);
    padding-bottom: em(40);

    ul{
        display: flex;
        flex-flow: column wrap;

        .hinclude-articles{
            justify-content: inherit;
            display: inherit;
            flex-flow: inherit;
            gap: inherit;
        }

        @include tablet{
            flex-flow: row wrap;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: flex-start;
            gap: 2.8%;
        }
    }
    li{
        margin-bottom: em(20);


        @include tablet-only {
            width: col(6);
            .accueil &:last-child{ display: none;}
        }
        @include desktop{
            width: col(4);
            //&:last-child{ display: block;}
        }
    }
    
    img{
        width: 100%;
        height: auto;

        @include tablet{
            box-shadow: 0px 5px 8px rgba($color: #000000, $alpha: .3);
        }
    }

    a{
        text-decoration: none;
        h3{
            font-family: $roboto;
            font-size: rem(16);
            text-transform: uppercase;
            color: rgba($color: $blanc, $alpha: 0.8);
            line-height: 120%;
            transition: .2s;


            &:hover{color:rgba($color: $blanc, $alpha: 1);}

            .articles &{
                color: rgba($onyx, $alpha: 0.8);
                font-weight: 700;

                &:hover{color:rgba($color: $onyx, $alpha: 1);}
            }
        }
 
    }
    p{
        font-size: rem(14);
        color: $onyx;
        margin-top: em(5);
    }

    .bt{
        @include button($blanc, $shadow);
        margin: 0 auto;
        z-index: 1000;
        position: relative;
        display: none;

        &:hover{
            cursor: pointer;
        }

        &.active{
            display: block;
        }
        
    }
}


// III - connexion

body.connexion{
    @include desktop{
        background: linear-gradient(rgba($beige, 1), rgba($beige, .5), rgba($beige, 1)), 
                    url("img/guitariste-intro.jpg") no-repeat center/cover;
    }

}

section.connect{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    height: calc(100vh - 198px);
    @include tablet{
        height: calc(100vh - 147px);
    }

    >div{
        background-color: $shadow;
        width: 100%;
        max-width: em(500);
        padding: em(20);
        @include tablet{
            padding: em(40);
        }
        @include tablet{
            box-shadow: 0px 8px 10px rgba($color: #000000, $alpha: .3);
        }    
    
        h1{
            text-align: center;
            font-family: $anton;
            font-size: rem(40);
            color: $blanc;
            line-height: 120%;
        }
        p{
            color: $onyx;
            a{
                color: $onyx;
            }
        }
        .alert-danger{
            padding: 1em;
            height: auto;
            color: #fff;
            text-align: center;
        }

        form{
            display: flex;
            flex-flow: column wrap;
        }
        label{
            color: $blanc;
            font-size: rem(16);
            margin: em(20) 0 0 0;
        }
        input{
            padding: em(10) em(5);
            font-family: inherit;
            font-size: rem(16);
            background-color: $beige;
            border: 1px solid $blanc;
        }
        input[type=submit]{
            background-color: $shadow;
            margin: em(20) 0;
            width: max-content;
            padding: em(10) em(20);
            border: 1px solid $blanc;
            border-radius: em(8);
            font-weight: 500;
            color: $blanc;

            &:hover{
                filter: brightness(120%);
                cursor: pointer;
            }
        }
        div.mentions{
            display: flex;
            flex-flow: column wrap;
            align-items: center;

            @include tablet{
                flex-flow: row wrap;
                justify-content: space-between;
            }

            a{
                color: rgba($color: $blanc, $alpha: .5);
                &:hover{
                    color: rgba($color: $blanc, $alpha: 1);
                }
            }
        }
    }

    &.reset{

        p, a{
            margin-top: em(16);
            color: $blanc;
        }
    }
}

// IV - ARTICLE

// liste articles géré dans article home (II)

section.article{
    display: flex;
    flex-flow: row wrap;

    @include desktop{
        //flex-flow: column wrap;
        justify-content: space-between;
    }

    img{
        width: 100%;
        height: 100%;

        @include desktop{
            width: col(8);
            height: auto;
            position: absolute;
            top: em(5);
            left: em(20);
        }
    }

    h3{
        font-family: $anton;
        font-size: rem(22);
        margin: em(8) 0;
        color: $onyx;

        @include tablet{
            font-size: rem(30);
        }

        @include desktop{
            width: col(5);
            margin-top: col(5, 1);
            text-align: right;
            font-size: rem(60);
            line-height: rem(80);
            color: $shadow;
        }
    }

    p{
        margin: em(16) 0;
    }
    li{
        list-style: disc inside;
        padding-left: em(32);
        text-indent: em(-16);
        margin: 0 0 em(8) 0;
    }


    .body-article{
        color: $noir;
        @include desktop{
            background-color: rgba($color: $blanc, $alpha: .8);
            padding: em(4) em(16);
            box-shadow: -5px 10px 10px rgba($color: $onyx, $alpha: .5);
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        margin-top: em(16);
        height: em(48);
    }
    nav svg{
        width: rem(40); height: rem(40);
        color: $blanc;
        transition: .2s;

        &:hover{color: $shadow;}
    }

    .txt-article{
        @include desktop{
            width: col(7);
            z-index: 100;
            margin-top: em(70);
            
        }
    }

    @include desktop{

    }

    // pagination
    .pagination{
        position: relative;
        width: 100%;

        .first, .page, .current, .last{
            display: none;
        }

        .previous{
            position: absolute;
            left: 0;
        }
        .next{
            position: absolute;
            right: 0;
        }
    }

}

// V - Contact 

.contact section{
    display: flex;
    flex-flow: column wrap;

    @include desktop{
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.contact main section div, .contact main section form{
    width: 100%;
    margin: 0 0 em(20) 0;

    h1{margin-bottom: em(4);}

    @include desktop{
        width: col(6);
    }
}

// VI - Agenda - Prof et élèves

section.admin{
    .title{
        background-color: $blanc;
        display: flex;
        flex-direction: row-reverse;

        @include desktop{
            background-color: inherit;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            width: 100%;

        }


        .tb-plus{ 
            @include desktop{
                height: em(30);
            }

            svg{
                width: em(30); height: em(30);
                margin: em(8) em(16) 0 em(8);
                color: $vert;

                @include desktop{
                    margin: 0;
                }
            }
        }
    }
    h3{
        display: none;

        @include desktop{
            display: block;
            font-family: $anton;
            font-size: rem(60);
            line-height: 100%;
            margin: 0;
            color: $blanc;
            text-shadow: -5px 10px 10px rgba($color: $onyx, $alpha: .5);
        }
    }

    .info{
        display: none;
        margin: em(16) 0;
        color: $onyx;

        li{
            text-indent: em(-17);
            margin: 0 0 em(10) em(17);
        }

        li div{
            width: em(14); height: em(14);
            display: inline-block;
            border-radius: em(3);

            &.gris{background-color: $gris;}
            &.vert{background-color: $vert;}
            &.rouge{background-color: $rouge;}
            
        }


        
        a{
            color: inherit;
            text-decoration: none;

            &:hover{
                text-decoration: underline;

            }

        }
        
        @include desktop{ 
            display: block;
            width: 100%; 
        }
        
    }

    @include desktop{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .col1{
            width: col(3);
        }
        .col2{
            width: col(9);
        }


    }    
}


.admin-panel{
    background-color: $blanc;
    padding: em(8);
    position: relative;

    .txt-gris{color: $gris;}

    @include desktop{
        width: 100%;
        padding: em(16);
        box-shadow: -5px 10px 10px rgba($color: $onyx, $alpha: .5);
        //min-height: 100%;
    }
    a{
        color: $onyx;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: $noir;
        }
    }
    
    h4{
        color: $onyx;
        margin-bottom: 1em;
        text-transform: uppercase;
        
        &.nom{
            font-size: em(18);
        }
        
    }
    section{
        width: 100%;
        margin: 0 0 em(20) 0;
        padding: 0;

        &.line-top{
            border-top: 5px double $shadow;
            padding-top: 1em;
            margin-top: 2em;
        }

        &.block-option{
            border-top: em(2) solid $beige;
            margin-top: em(64);

            h4{
                margin: em(-16) auto em(16) auto;
                display: block;
                width: max-content;
                background-color: $beige;
                padding: em(2) em(10);
                //border: em(2) solid $beige;
                color: $blanc;
            }
        }

        &.boutons{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            gap: em(8);

        }
    }

    table{
        font-size: rem(16);
        width: 100%;
        // white-space:nowrap;

        
        .w100{width: 100%;}
        .td-soustitre{text-align: center !important; color: $shadow; background-color: rgba($beige, .3);}
        .mobile-none{display: none;}
        .w-mc{width: max-content;}

        @include desktop{
            .ws{white-space:nowrap;}
            .mobile-none{display: block;}
        }

        tr{
            border-bottom: 1px solid #aaa;
        }
        td, th{
            padding: em(5) em(10) em(5) 0;
            text-align: left;

            @include desktop{
                padding: em(5) em(40) em(5) 0;
            }
        }

        &.tab2col{
            tr td:last-child, tr th:last-child{
                // width: 100%;
                width: max-content;
                padding-right: 0;
                text-align: right;
            }
        }
        svg{
            width: rem(16); height: rem(16);
            // display: block;

            &.svg-24{
                width: rem(24); height: rem(24);
            }
        }
    }

    .checkbox-roles{
        flex-direction: row;
        align-items: center;
        margin: 0;

        div{
            flex-direction: row;
            align-items: center;
            margin: 0;
        }

        label{
            margin: 0 em(20) 0 em(5);
        }
    }

    .bt-form{
        width: min-content;
        background-color: $shadow;
        color: $blanc;
        border: none;
        border-radius: em(10);
        box-sizing: border-box;
        padding: em(8) em(15);
        transition: .2s;
        font-size: rem(16);
        white-space: nowrap;
        line-height: normal;
        display: inline-block;
        margin-top: em(8);

        &:hover{
            filter:brightness(130%);
            cursor: pointer;
            color: $blanc;
            text-decoration: none;
        }
    }

    .bt-supp{
        background-color: $rouge;
    }

    .bt-tab{
        width: min-content;
        background-color: $shadow;
        color: $blanc;
        border: none;
        border-radius: em(5);
        box-sizing: border-box;
        padding: em(2) em(8);
        transition: .2s;
        font-size: rem(16);

        &:hover{
            filter:brightness(130%);
            cursor: pointer;
            color: $blanc;
            text-decoration: none;
        }
        
    }

    // NOTE
    .bt-note-pencil, .bt-note-close{
        background-color: $beige;
        width: em(30); height: em(30);
        position: absolute;
        top: em(14);
        right: 0;
        border-radius: 50%;
        transition: .2s;
        display: none;

        &.active{
            display: inline-block;
        }

        &:hover{
            cursor: pointer;
            background-color: $shadow;
        }

        svg{
            width: rem(20); height: rem(16);
            display: block;
            color: $blanc;
            margin: em(7) auto 0 auto;
        }
    }

    .note-txt, .note-form{
        display: none;

        &.active{
            display: block;
        }
    }

    // format rendu ckeditor
    .note{
        p{margin: em(10) 0;}
        li{list-style: inside disc; text-indent: em(20);}
        a{text-decoration-line: underline; text-decoration-color: $beige;}

    }

    // bt +
    #bt-plus{
        @extend .bt-note-pencil;
        display: block;
        transition: .2s;

        &.active{
            transform: rotate(45deg);
        }
    }
    #file-list, #form-file-user{
        display: none;

        &.active{
            display: block;
        }
    }

    // agenda
    table.agenda{

        tr{
            td:first-child{
                padding-right: em(10);
            }

            &.fond-we{
                background-color: #eee;
            }
            &.fond-dday{
                background-color: $beige;

                td{color: $blanc;}

                li{
                    border-color: $blanc;

                    button{
                        color: $blanc;
                    }
                }
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: em(5);

            li{
                border: 1px solid #ccc;
                border-radius: em(5);
                padding: .2em .5em;
                line-height: 1em;
                display: flex;
                color: #ccc;

                a{color: #ccc; line-height: initial;}
                a:hover{text-decoration: none;}

                &.active{
                    background-color: #aaa;
                    border-color: #aaa;
                    transition: .2s;

                    a{color: $blanc;}

                    &:hover{background-color: #bbb; cursor: pointer;}
                }
                &.valid{
                    background-color: $vert;
                    border-color: $vert;
                    transition: .2s;

                    a{color: $blanc;}

                    &:hover{background-color: #03bd03; cursor: pointer;}
                }
                &.reserve{
                    background-color: $rouge;
                    border-color: $rouge;
                    transition: .2s;

                    a{color: $blanc;}

                    &:hover{background-color: rgba(187, 0, 0, 0.7); cursor: pointer;}
                }

                button{
                    border: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                    font-size: rem(16);
                    color: #ccc;
                    font-family: $roboto;

                    &:hover{
                        cursor: pointer;
                        color: #aaa;
                    }
                    

                }



            }
        }
    }

    fieldset.disabled{
        input[type='checkbox']{
            background-color: #eee;
        }
        label{
            color: #ccc;
        }
        
        
    }



}  

// nav agenda
nav.mois{
    svg{
        width: rem(32);
        height: rem(32);
        color: rgba(255, 255, 255, 0.7);
        transition: .2s;

        &:hover{
            color: #fff;
        }
    }

    a{
        text-decoration: none;
    }

}


.table{
    display: flex;
    flex-flow: column wrap;

    .row{
        display: flex;
        flex-direction: row ;
        border-bottom: 1px solid #aaa;        
        
        &:first-child{ border-top: 1px solid #aaa;}

        .item{
            font-size: rem(14);
            margin: em(5) em(15) em(5) 0;
        }

        svg{
            width: em(22); height: em(22);
            display: block;
        }

        .tb-2{min-width: em(150);}

        .tb-titre, .tb-gd{
            flex-grow: 4;
        }

        .tb-close  a:hover svg{
            color: $rouge;
        }
        .tb-edit  a:hover svg{
            color: $bleu;
        }
    }


}


// VII - Cours

.cours{

    section{

        @include desktop{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    h3{
        font-family: $anton;
        color: $shadow;
        font-size: rem(24);
        font-weight: 400;
    }

    p{
        margin-bottom: em(16);
    }

    .presentation{

        @include desktop{
            width: col(8);

            .txt-img{
                
                img{
                    width: 50%;
                    height: 100%;
                    float: right;
                }
                 
            }
       
        }
        
        

    }

    .infos-plus{
        background-color: rgba($color: $blanc, $alpha: .8);
        padding: em(16);

        @include desktop{
            width: col(4);

        }
    }

    img{
        width: 100%;
        height: 100%;
    }

    .message-inscription{
        background-color: $shadow;
        color: $blanc;
        padding: em(16);
        

        h4{
            font-size: rem(24);
            text-align: center;
            margin-bottom: em(8);
            
        }

        .bt{
            @include button();
            margin-right: em(16);
        }

        div{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            padding-top: em(16);
            border-top: 1px solid $beige;
        }

        @include desktop{
            margin-top: em(16);
            box-shadow: 0px em(8) em(8) rgba($color: #000000, $alpha: .2);

        }
    }
}


// VIII - Inscription

.inscription section {
    display: flex;
    flex-flow: column wrap;

    .row{
        display: flex;
        flex-flow: column wrap;
        margin-bottom: em(16);
    }

    .col-1{
        margin-bottom: em(32);
        border-bottom: 1px solid $onyx;
        padding-bottom: em(25);

        @include desktop{
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    @include desktop{
        flex-flow: row wrap;
        justify-content: space-between;

        h1{
            margin-bottom: em(4);
        }
    }
}
.inscription .col{
    width: 100%;
    margin: 0 0 0 0;

    @include desktop{
        width: col(6);
    }
}



// IX - Error

section.error {

    height: 100%;
    background-image: url('/public/img/error.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 2.5rem;
        color: $blanc;
        text-align: center;
        line-height: 100%;
        
    }
    h3{
        font-size: 15rem;
        color: rgba($color: $blanc, $alpha: 1);
        line-height: 80%;
        text-shadow: 2px 2px 10px $shadow;
        letter-spacing: -19px;
    }
    a{
        font-size: 1rem;
        color: $blanc;
        text-decoration: none;
        margin-top: em(12);

        &:hover{
            text-decoration: underline;
        }
    }

}


// X - Mentions (mentions légles, politique de confidentialité, cgv/vgu

body.mentions main{

    h1{
        font-family: $anton;
        font-size: rem(50);
        color: $onyx;
    }
    h3{
        font-size: rem(24);
        color: $onyx;
        margin: em(24) 0 0 0;
    }

    p{
        margin: em(16) 0;
    }
    a{
        color: $marron;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    ul{
        li{
            margin: em(8) 0 0 em(32);
            list-style: disc;
        }
    }

    .cgv-cgu{
        h3{
            margin: 0;
        }
    }

    .col{
        columns: 18em;
        column-gap: 3em;
        margin-top: em(24);

        p{
            margin-top: 0;
            text-align: justify;
            font-size: rem(14);
        }
    }
}

// XI - Bio

body.bio main{

    h1{
        color: $shadow;
    }
    h3{
        color: $onyx;
        margin-bottom: em(16);
    }
    p{
        margin-bottom: em(16);
    }

}


// ################################