<form method="post" action="{{ path('lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce cours ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="bt-form bt-supp">Supprimer</button>
</form>
