<p>Bonjour {{ student.firstname }} {{ student.lastname }},</p>
<p>Le cours du {{ date|date('d M\\. Y') }} vient d'être validé.</p>
<p>Si vous ne pouvez pas participer à ce cours, merci de prévenir 48 h à l'avance.</p>
<p>Bien cordialement,</p>
<p>Guy Taracoustik</p>