{% extends 'base.html.twig' %}

{% block title %}Réservation d'un cours{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>

		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Cours du {{ lesson.date|date("j M\\. Y", "Europe/paris") }}
				</h3>
			</div>
			<div class="admin-panel">

				<section>
					<p>Je réserve le cours</p>
					<p>du {{ lesson.date|date("j M\\. Y", "Europe/paris") }} à {{ lesson.hour }} h.</p>
				</section>

				<section>
				 	{{ include('lesson/_form_reserve.html.twig', {'button_label': 'Réserver'}) }}
				</section>
				



			</div>
		</div>


{% endblock %}
