<!DOCTYPE html>
<html lang="fr" {% if class_html is defined %}class="{{ class_html }}"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guy Taracoustik{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="robots" content="noindex">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        <!-- Matomo -->
        <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.bdelanls.fr"]);
        _paq.push(["setDomains", ["*.bdelanls.fr","*.www.bdelanls.fr"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//bdelanls.fr/matomo/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <noscript><p><img src="//bdelanls.fr/matomo/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->
        <meta property="og:title" content="Guy Taracoustik">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://dwwm.bdelanls.fr/img/guitariste-intro.jpg">
        <meta property="og:url" content="https://dwwm.bdelanls.fr">
        <meta property="og:description" content="Guitariste et professeur de guitare classique au conservatoire de Paris. Donne des cours particulier à des amateurs avancés ou professionnels.">
        
    </head>
    <body {% if class_body is defined %}class="{{ class_body }}"{% endif %}>
        <header>
            {% include "partial/_header.html.twig" %}
        </header>
        <main>
            {% include "partial/_message.html.twig" %}
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% include "partial/_footer.html.twig" %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
