<div class="fond-footer">
    <div class="footer-content">
        <ul class="menu-footer">
            <li><a href="{{ path("mentions") }}">Mentions légales</a></li>
            <li><a href="{{ path("pol-conf") }}">Politique de confidentialité</a></li>
        </ul>
        <p>© 2021</p>
    </div>
</div>