<div class="fond-footer">
    <div class="footer-content">
        <ul class="menu-footer">
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
        </ul>
        <p>© 2021</p>
    </div>
</div>