<div class="header-content">
    <a href="index.html">
        <img src="img/logo.svg" alt="Logo Guy Taracoustik" class="logo">
    </a>

    <div class="nav-bar">
        <nav class="" id="menu">
            <ul>
                <a href="biographie.html"><li>Biographie</li></a>
                <a href="cours.html"><li>Cours</li></a>
                <a href="articles.html"><li>Articles</li></a>
                <a href="contact.html"><li>Contact</li></a>
            </ul>
            <svg class="bt-menu bt-close"><title>Fermer</title><use xlink:href="img/icons.svg#cross"></use></svg>
        </nav>
        <nav class="mobile">
                <svg class="bt-menu"><title>Conexion</title><use xlink:href="img/icons.svg#menu"></use></svg>
        </nav>
        <nav class="log">
            <a href="connexion.html">
                <svg><title>Conexion</title><use xlink:href="img/icons.svg#user"></use></svg>
                <span class="nom-log">Se connecter</span>
            </a>
        </nav>
    </div>
</div>

