<div class="message">
    {% for classStyle, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ classStyle }}">
            <svg class="bt-message"><title>Fermer</title><use xlink:href="/img/icons.svg#cross"></use></svg>

            <p>{{ message }}</p>
        </div>
        {% endfor %}
    {% endfor %}
</div>
