{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			<div class="info">
				<p class="readmore">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos deleniti sequi
                rerum velit dignissimos quo, beatae hic architecto earum dicta. </p>

			</div>
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Édition de l'article
				</h3>
			</div>
			<div class="admin-panel">
                <section>
                    {{ include('article/_form_edit.html.twig', {'button_label': 'Mettre à jour'}) }}
                </section>
                <section class="boutons">
                    <a class="bt-form" href="{{ path('article_index') }}">Retour à la liste</a>
                    {{ include('article/_delete_form.html.twig') }}
                </section>

				


			</div>
		</div>


	</section>

    
{% endblock %}
