<div style="font-family: Arial;">
<p>Bonjour {{ student.firstname }} {{ student.lastname }},</p>
<p>Votre compte a été supprimé ainsi que toutes les données vous concernant.</p>
<p>Bien cordialement,</p>
<p>Guy Taracoustik</p>
</div>