<div style="font-family: Arial;">
<p>Bonjour {{ student.firstname }} {{ student.lastname }},</p>
<p>Vous souhaitez supprimer votre compte mais il reste encore au moins un cours qui ne peut pas être annulé.</p>
<p>Veuillez prendre contact avec moi pour que je puisse faire le nécessaire.</p>
<p>Bien cordialement,</p>
<p>Guy Taracoustik</p>
</div>